*{ font-family: helvetica;
    color: #fff;

}

   body {
         margin: 1em;
          padding: .1em;
          background: #fff;

}


      img {
     width: 100%;


}
      main section{
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
          grid-gap: 1em;

}
      article{
          padding: 1em;
          border:1px solid;


}



#navbar .container {

    width: 100%;
    margin: auto;
    overflow: hidden;
    padding: 15px;
    align-items: center;

}

#navbar {
    background-color: #333;
    color: #fff;
}


#navbar li {
    display: inline;
}

#navbar a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding-right: 15px;
}




article p {

border: 1px solid;
    width: 40%;
    padding: .5em 1em;
   border-radius: 5px;
    background: #333;
    color: #fff;

}







.menu {
    text-align: center;
    font-size: 2.5em;
    border: 1px solid;
    background-color: #333;
    color: #fff;
    padding: 15px;
}

footer {
   background-color: #333;
    padding: .5em 1em;
    margin: 1em;
}

footer p {
text-align: center;
    color: #fff;
    font-size: 1.5em;


}


article {
    background-color: #000000;
        box-shadow: 0 20px 50px rgba(0, 0, 0, .7);
    border-radius: 20px;



}



.landscreen {
    width: 100%;
    height: 20%;
    padding: 0;
    margin: 0;
    object-fit: cover;
}




.soldout {
opacity: 0.5;
top: 0;
    right: 0;
    font-size: 1.1em;
    color: red;
float: right;
    z-index: -1;
}

h1,h2,h3,h4,h5,h6,p,nav{
text-transform: capitalize;
}

.h2Header{
text-align: center;
    font-size: 2em;
    color:;
    font-family: helvetica;
    font-weight: 900;
    background-color: #333;
    padding: .5em;
}

button{
    cursor: pointer;
}


.modal-bg{
box-sizing: border-box;
position: fixed;
top: 0;
left: 0;
height: 100%;
width: 100%;
background-color: #fff;
}


.modal-content{
background-color: rgba(0,0,0,8);
width: 80%;
height: 80%;
margin: 0 auto;
margin-top: 5%;
}

.hide{
display:none;}



.seemoreBTN{
background-color: #333;
    padding: 1em 2em;
    border-radius: 5px;
    width: 50%;
    margin-top: 5%;
    border: none;
}

.closeBTN{
background-color: #333;
    padding: 1em 2em;
    border-radius: 5px;
    width: 7%;
    border: none;
    top: 0;
    right: 0;
}


header{
    position: relative;

}
header h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
font-size: 4vw;
}



.modal_img{
width: 50%;
    float: right;
    border-radius: 10px;
     box-sizing: border-box;

}

.long_dcp{
text-decoration: none;
    border: none;
    background-color: #000;
    font-size: 1.1em;




}




